[submodule "hacking/hate_crack"]
	path = hacking/hate_crack
	url = git://github.com/trustedsec/hate_crack.git
[submodule "hacking/github-dorks"]
	path = hacking/github-dorks
	url = git://github.com/techgaun/github-dorks.git
[submodule "zsh/zemojify"]
	path = zsh/zemojify
	url = git://github.com/filipekiss/zemojify.git
