[submodule "hacking/hate_crack"]
	path = hacking/hate_crack
	url = git://github.com/trustedsec/hate_crack.git
[submodule "hacking/github-dorks"]
	path = hacking/github-dorks
	url = git://github.com/techgaun/github-dorks.git
[submodule "zsh/zemojify"]
	path = zsh/zemojify
	url = git://github.com/filipekiss/zemojify.git
[submodule "hacking/pwndb"]
	path = hacking/pwndb
	url = git://github.com/davidtavarez/pwndb.git
[submodule "hacking/h8mail"]
	path = hacking/h8mail
	url = git://github.com/khast3x/h8mail.git
[submodule "hardcode-fixer"]
	path = hardcode-fixer
	url = git://github.com/Foggalong/hardcode-fixer.git
[submodule "hacking/truffleHog"]
	path = hacking/truffleHog
	url = git://github.com/dxa4481/truffleHog.git
[submodule "hacking/flan"]
	path = hacking/flan
	url = git://github.com/cloudflare/flan.git
[submodule "git-partial-submodule"]
	path = git-partial-submodule
	url = https://github.com/Reedbeta/git-partial-submodule
