[submodule "hacking/hate_crack"]
	path = hacking/hate_crack
	url = git://github.com/trustedsec/hate_crack.git
[submodule "hacking/github-dorks"]
	path = hacking/github-dorks
	url = git://github.com/techgaun/github-dorks.git
[submodule "zsh/zemojify"]
	path = zsh/zemojify
	url = git://github.com/filipekiss/zemojify.git
[submodule "hacking/pwndb"]
	path = hacking/pwndb
	url = git://github.com/davidtavarez/pwndb.git
[submodule "hacking/h8mail"]
	path = hacking/h8mail
	url = git://github.com/khast3x/h8mail.git
[submodule "devtools/compiler-explorer"]
	path = devtools/compiler-explorer
	url = git://github.com/mattgodbolt/compiler-explorer.git
